{% extends "base.html" %}

{% block title %}
Faculty
{% endblock %}

{% block content %}
<div class="container">
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <aside id="sidebar">
                <ul id="sidemenu" class="sidebar-nav">
                    <li>
                        <a href="/faculty">
                            <span class="sidebar-title ">View Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
                            <span class="sidebar-title">Academics</span>
                            <b class="caret"></b>
                        </a>
                        <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
                            <li><a href="/courses"><i class=""></i>Courses</a></li>
                            <li><a href="/faculty/offer_course"><i class=""></i> Offer Course</a></li>
                            <li><a href="/faculty/enter_grade"><i class=""></i>Enter Grade</a></li>
                            <!-- <li><a href="/drop_course"><i class=""></i>Add or Drop Course</a></li> -->
                        </ul>
                    </li>
                    </li>
                </ul>
            </aside>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-12">
                   <h5 style="color: red;font-weight: bold;"> {{error}} </h5>
                <form method="POST" action="/faculty/offer_course">
                    <div class="form-group row">
                        <label for="Course ID" class="col-sm-3 col-form-label">Course ID</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control"  name="course_id"
                                placeholder="Course ID - * CSXXX *" aria-required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="SECTION" class="col-sm-3 col-form-label">Batch</label>
                        <div class="col-sm-3">
                            <select name="batch_id" class="custom-select" aria-required>
                                <option value="CSE2016">CSE2016</option>
                                <option value="CSE2017">CSE2017</option>
                                <option value="CSE2018">CSE2018</option>
                                <option value="CSE2019">CSE2019</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="CGPA" class="col-sm-3 col-form-label">Minimum CGPA</label>
                        <div class="col-sm-3">
                            <select name="cgpa" class="custom-select" aria-required>
                                <option selected>None</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" href="#" id="savebtn" class="btn btn-primary">Submit</a>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block script %}

    <script>
        $(document).ready(function () {
            $('#savebtn').click(function () {
                var profiledata = {
                    'project': $('#project').text(),
                    'research': $('#research').text()
                };
                $.ajax({
                    url: "{{ url_for('faculty') }}",
                    type: 'post',
                    contentType: 'application/json',
                    success: function (data) {
                        alert(data.success);
                    },
                    data: JSON.stringify(profiledata)
                });
            });

        });
    </script>
    {% endblock %}